.clasp.json
structure.json
old
.markdownlint.jsonc
Oil-and-Gas-Newsletter-and-Feed.code-workspace
/.github/instructions
newsletter-analytics-service/curlcmd.txt
senderlist.txt
newsletter-analytics-service/CLOUD_README.md
